{% extends "base.html" %}
{% block estilos %}
{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "css/paciente.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/inicio.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/estiloConsulta.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/anadirTratamiento.css" %}'>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
{% endblock %}
{% block contenido %}
{% include "consulta/form.html" %}


{% endblock %}
{% block script %}
<script src='{% static "js/busqueda.js" %}'></script>
<script src='{% static "js/pintarOdontograma.js" %}'></script>

{% endblock %}