.citaIngreso{
    display: flex;
    margin-top:19px;

    margin-left:15px;
}

.citaIngreso input{
    height:30%;
    margin-left: 10px;
    margin-right: 15px;
}

.citaIngreso h4{
    margin-top: 10px;
}

#nombres input{
    width:40% ;
}