{% extends "base.html" %}
{% block estilos %}
{% load static %}

<link rel="stylesheet" type="text/css" href='{% static "css/paciente.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/historial.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/inicio.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/titulos.css" %}'>
{% endblock %}
{% block contenido %} 
<img id="imgPaciente" src='{% static "img/paciente.png" %}'>
<h1 id="tituloPaciente">Pacientes</h1>
<br>
<div class="busqueda" >
  <div class="busqueda__Historial">
    <a href="{% url 'nuevoPaciente' %}" class="button">Registrar Nuevo Paciente</a>
<br>
<br>
<form action="{% url 'busquedaPaciente' %}" method="POST">
  {% csrf_token %}
<input width="150%" type="text" name="buscarPaciente" id="myInput" onkeyup="myFunction()" placeholder="Búsqueda por nombres">
<input style="width: 17%; background:var(--bg-color);color:white" type="submit" value="Consultar Paciente" class="contenedorPac__Principal__Uno__ingreso" id="guardarDoctor">
<!-- <a style="height: 33px; float:right; margin-right: 500px;padding-top: 8px;" class="button">Buscar</a> -->
</form>
</div>
</div>
<a style="background:rgb(18, 141, 49)" href="{% url 'reportePaciente' %}" name="" id="imprimirLista" class="buttonPacienteEditar" role="button"><ion-icon name="print-outline" class="nav__icon"></ion-icon> <br> Descargar listado</a>
<div class="table-wrapper" id="myTable">
    <table class="fl-table">
        <thead>
        <tr>
            <th>N°</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cédula</th>
            <th>Sexo</th>
            <th>Edad</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
          {% for paciente in entity %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{paciente.nombres}}</td>
            <td>{{paciente.apellidos}}</td>
            <td>{{paciente.cedula}}</td>
            <td>{{paciente.sexo}}</td>
            <td>{{paciente.fecNacimiento}}</td>
            <td>{{paciente.telefono}}</td>
            <td>{{paciente.correo}}</td>
            <td> <a style="background:rgb(18, 141, 49)" href="{% url 'editarPaciente' paciente.idPaciente %}" name="" id="" class="buttonPacienteEditar" role="button">Editar</a>
              |
              <a href="{% url 'eliminarPaciente' paciente.idPaciente %}" name="" id="" class="buttonPacienteEliminar" role="button">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
    <div align="center" >
      {% include 'paginator.html' %}
    </div>
</div>
{% endblock %}
{% block script %}
{% load static %}
<script src='{% static "js/busqueda.js" %}'></script>
{% endblock %}
