{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" type="text/css" href='{% static "css/estilos.css" %}'  >
        {% block estilos %}  {% endblock %}
        <title>América Dental</title>
    </head>
    <body id="body-pd" onload="showMenu()">
        <div class="l-navbar" id="navbar">
            <nav class="nav" >
                <div id="scroll__bar">
                    <div class="nav__brand" >
                        <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                        <a href="#" class="nav__logo">América Dental</a>
                    </div>
                    
                    <div class="nav__list">
                        <a href="{% url 'inicio' %}" class="nav__link active">
                            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                            <span class="nav__name">Estadística</span>
                        </a>
                        <div class="nav__link collapse">
                            <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                            <span class="nav__name">Equipo</span>
    
                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>
    
                            <ul class="collapse__menu">
                                <a href="{% url 'doctor' %}" class="collapse__sublink">Doctores</a>
                                <a href="{% url 'paciente' %}" class="collapse__sublink">Pacientes</a>
                               
                            </ul>
                        </div>
                        <!-- <a href="{% url 'paciente' %}" class="nav__link">
                            <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                            <span class="nav__name">Pacientes</span>
                        </a> -->
                        <a href="{% url 'area' %}" class="nav__link">
                            <ion-icon name="location-outline" class="nav__icon"></ion-icon>
                            <span class="nav__name">Área</span>
                        </a>
                        <a href="{% url 'tratamiento' %}" class="nav__link">
                            <ion-icon name="medical-outline" class="nav__icon"></ion-icon>
                            <span class="nav__name">Tratamiento</span>
                        </a>
                        <a href="{% url 'historial' %}" class="nav__link">
                            <ion-icon name="document-outline" class="nav__icon"></ion-icon>
                            <span class="nav__name">Historial Clínico</span>
                        </a>
                        <a href="{% url 'cita' %}" class="nav__link">
                            <ion-icon name="calendar-outline" class="nav__icon"></ion-icon>
                            <span class="nav__name">Agendar Citas</span>
                        </a>
                        

                        <div  class="nav__link collapse">
                            <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                            <span class="nav__name">Reportes</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                            <ul class="collapse__menu">
                                <a href="#" class="collapse__sublink">Pacientes</a>
                                <a href="#" class="collapse__sublink">Facturas</a>
                                <a href="#" class="collapse__sublink">Citas</a>
                            </ul>
                        </div>

                        
                        
                        
                    </div>
                </div>

                <a href="{% url 'inicio' %}" class="nav__link">
                    <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Cerrar Sesión</span>
                </a>
            </nav>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% block contenido %}  {% endblock %}
                    
                </div>
            </div>
        </div>
        <!-- ===== IONICONS ===== -->
        <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
        
        <!-- ===== MAIN JS ===== -->
        <script src='{% static "js/main.js" %}'></script>
        
        {% block script %}  {% endblock %}
    </body>
</html>